@model PharmaReport.Models.LocalPasswordModel
@section TitleSection{ Change Password }
<ul id="crumbs">
    <li>@Html.ActionLink("Home", "Index", "Account") </li>
    <li>@Html.ActionLink("Manage Users", "Index", "User") </li>
    <li>Change Password</li>
</ul>
<div class="contentWrapper">
    <div class="formdetails">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="editor-label">
                @Html.LabelFor(model => model.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.OldPassword, new {@class="text-box" })<br />
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.NewPassword, new {@class="text-box" })<br />
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword, new {@class="text-box" })<br />
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <div class="clear"></div>
            <p>
                <input type="submit" class="submit" value="Change Password" />
            </p>    
        }
    </div>
</div>

