<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]>
  <html class="lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]>
  <html class="lt-ie9" lang="en">
<![endif]-->
<!--[if gt IE 8]>
  <!-->
<html lang="en">
<!--
<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@Html.MvcSiteMap().SiteMapTitle() @*@ViewBag.Title*@ - ISys Consultancy Admin</title>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    @Html.MvcSiteMap().CanonicalTag()
    <script src="/Assets/js/html5/html5-trunk.js"></script>
    <link href="/Assets/icomoon/style.css" rel="stylesheet">
    <!--[if lte IE 7]>
    <script src="/Assets/css/icomoon-font/lte-ie7.js"></script>
    <![endif]-->
    <!-- Bootstrap css -->
    <link href="/Assets/css/main.css" rel="stylesheet">
    <link href="/Assets/css/datepicker.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="@Url.Action("Index", "Dashboard", new { area = "" })" class="logo">ISys Consultancy</a>
        <div id="mini-nav">
            <ul class="hidden-phone">
                <li>
                    <a href="javascript:void()">@BM.Common.GlobalVariables.CompanyName</a>
                </li>
                <li>
                    <a href="javascript:void()">Welcome @BM.Common.Config.Capitalize(@User.Identity.Name)</a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        Theming
                        <span class="caret icon-white"></span>
                    </a>
                    @*<ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:void()" id="default">Default</a>
                        </li>
                        <li>
                            <a href="javascript:void()" id="facebook">Facebook</a>
                        </li>
                        <li>
                            <a href="javascript:void()" id="foursquare">Foursquare</a>
                        </li>
                        <li>
                            <a href="javascript:void()" id="google-plus">Google+</a>
                        </li>
                        <li>
                            <a href="javascript:void()" id="instagram">Instagram</a>
                        </li>
                        <li>
                            <a href="javascript:void()" id="whitesmoke">White Smoke</a>
                        </li>
                        <li>
                            <a href="javascript:void()" id="grey">Grey</a>
                        </li>
                    </ul>*@
                </li>
                <li>
                    <a href="@Url.Action("UserProfile", "Home", new { area = "" })"><span class="fs1" aria-hidden="true" data-icon="&#xe090;"></span></a>
                </li>
                <li>
                    <a href="@Url.Action("LogOff", "Home", new { area = "" })"><span class="fs1" aria-hidden="true" data-icon="&#xe0b1;"></span></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="dashboard-wrapper">
            <div id="main-nav" class="hidden-phone hidden-tablet">
                <ul>
                    <li>
                        <a href="@Url.Action("Index", "Dashboard", new { area = "" })" class="selected">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe0a0;"></span> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void()">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe0b8;"></span> Masters
                        </a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Group", new { area = "Masters" })">Groups</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Ledger", new { area = "Masters" })">Ledgers</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void()">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Trancations
                        </a>
                        <ul>
                            <li>
                                <a href="tables.html">Static Tables</a>
                            </li>
                            <li>
                                <a href="dynamic-tables.html">Dynamic Tables</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void()">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe097;"></span> Reports
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void()">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe090;"></span> Settings
                        </a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Company", new { area = "Settings" })">Company</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Backup", "Company", new { area = "Settings" })">Backup</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Restore", "Company", new { area = "Settings" })">Restore</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "User", new { area = "Settings" })">Users</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Location", new { area = "Settings" })">Locations</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="gallery.html">
                            <span class="fs1" aria-hidden="true" data-icon="&#xe00d;"></span> Help
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="main-container">
                <div class="navbar hidden-desktop">
                    <div class="navbar-inner">
                        <div class="container">
                            <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse collapse navbar-responsive-collapse">
                                <ul class="nav">
                                    <li>
                                        <a href="index.html">Dashboard</a>
                                    </li>

                                    <li>
                                        <a href="reports.html">Reports</a>
                                    </li>
                                    <li>
                                        <a href="forms.html">Basic Forms</a>
                                    </li>
                                    <li>
                                        <a href="extended-forms.html">Extended Forms</a>
                                    </li>
                                    <li>
                                        <a href="form-wizards.html">Form Wizard</a>
                                    </li>
                                    <li>
                                        <a href="graphs.html">Flot Charts</a>
                                    </li>
                                    <li>
                                        <a href="google-charts.html">Google Charts</a>
                                    </li>
                                    <li>
                                        <a href="animated-charts.html">Animated Charts</a>
                                    </li>
                                    <li>
                                        <a href="ui-elements.html">General Elements</a>
                                    </li>
                                    <li>
                                        <a href="clients-list.html">Clients List</a>
                                    </li>
                                    <li>
                                        <a href="messages.html">Messages</a>
                                    </li>
                                    <li>
                                        <a href="timeline.html">Timeline</a>
                                    </li>
                                    <li>
                                        <a href="pricing.html">Pricing Plans</a>
                                    </li>
                                    <li>
                                        <a href="grid.html">Grid Layout</a>
                                    </li>
                                    <li>
                                        <a href="icons.html">Buttons &amp; Icons</a>
                                    </li>
                                    <li>
                                        <a href="typography.html">Typography</a>
                                    </li>
                                    <li>
                                        <a href="tables.html">Static Tables</a>
                                    </li>
                                    <li>
                                        <a href="dynamic-tables.html">Dynamic Tables</a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">Gallery</a>
                                    </li>
                                    <li>
                                        <a href="invoice.html">Invoice</a>
                                    </li>
                                    <li>
                                        <a href="calendar.html">Calendar</a>
                                    </li>
                                    <li>
                                        <a href="profile.html">Profile</a>
                                    </li>
                                    <li>
                                        <a href="error.html">404 Error</a>
                                    </li>
                                    <li>
                                        <a href="faq.html">Faq</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Html.MvcSiteMap().SiteMapTitle().ToString().Trim() != "Home")
                {
                    <div class="container-fluid">
                        @Html.MvcSiteMap().SiteMapPath()
                    </div>
                }
                @RenderBody()

            </div>
        </div><!-- dashboard-container -->
    </div><!-- container-fluid -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", false)
</body>
</html>